html {
    scroll-behavior: smooth;
    position:relative; 
    min-height: 100%;
}

#Legend-PFP {
    height: 382px;
    aspect-ratio: 1;
    
    position: absolute;
    top: 10px; bottom: 0; right: 0;
    margin: auto;
    
    filter: drop-shadow(0 10px 10px black);
    opacity: 0;
    
    border-radius: 50%;
    
    transition: 0.5s;
    animation: 1.5s ease 1s entrance forwards;
}

#Legend-PFP:hover {
    height: 30vw;
    border-radius: 25%;
    transform: rotate(2deg);
}

@keyframes entrance {
    0% {
        opacity: 0%;
        right: -3vw;
    }
    100% {
        opacity: 100%;
        right: 9vw;
    }
    
}
@keyframes entrance2 {
    0% {
        opacity: 0%;
        left: -20%;
    }
    100% {
        opacity: 100%;
        left: 0%;
    }
    
}

#title {
    margin: 0;
    position: absolute;
    width: auto;
    padding: 10px;
    padding-left: 100px;
    color: white;
    opacity: 0%;
    left: -20%;
    top: 0;
    margin-top: 300px;
    
    animation: 1.5s ease 1s entrance2 forwards; 
    
}

#title span {
    position: static;
    transition: 0.5s;
    -webkit-background-clip: text;
    background-clip: text;
    
}

#title span#Greeting-1:hover {
    -webkit-text-stroke: 1px white;
    color: transparent;
    transform: translate(-11px, -15px);
    
}
#title span#Greeting-2 > span:hover {
    -webkit-text-stroke: 0.5px white;
    color: transparent;
    transform: translateY(-5px);
}

#Greeting-1 {
    display: inline-block;
    font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 125px;
    letter-spacing: -0.01em;
    padding-left: 15px;
    margin-bottom: 0px;
    left: 0px;
    margin-top: -110px;
    transform: translateX(-11px);
    width: fit-content;
    
}

#Greeting-2 {
    font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 450;
    font-size: 40px;
    color: white;
    letter-spacing: -0.01em;
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 300px;
    left: 0px;
    
}

#Greeting-2 span {
    display: inline-block;
}