#contact-me-section {
    position: absolute;
    left: 0;
    right: 0;
    top: 659vh;
    
    display: grid;
    
    gap: 20px;
    height: 256px;
    text-align: left;
    
    justify-items: center;
    justify-content: space-evenly;
    
    color: white;
    font-family: Inter, Calibri, sans-serif;
    font-size: 25px;
    
}

#contact-me-section a {
    position: static;
    width: 175px;
    height: 175px;
    
    border-radius: 25px;
    
    font-family: Inter, Calibri, sans-serif;
    font-size: 23px;
    
    display: flex;
    flex-direction: row;
    grid-row: 1;
    align-items: center;
    
    transition: 0.5s ease;
}

#contact-me-section a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

#discord {
    background-image: url(https://media.pocketgamer.biz/2021/5/110514/discord-new-logo-2021-r225x225.jpg);
    background-size: cover;
    
    box-shadow: 0 0 20px rgba(89, 102, 243, 1);
    
    border: 1px solid rgba(89, 102, 243, 1);
}


#twitter {
    background-image: url(https://cdn-icons-png.flaticon.com/512/124/124021.png);
    background-size: cover;
    
    box-shadow: 0 0 20px rgba(80, 171, 241, 1);
    
    border: 1px solid rgba(80, 171, 241, 1);
}

#mail {
    background-image: url(https://i.ibb.co/QQv8zM9/Mail.png);
    background-size: cover;
    
    box-shadow: 0 0 20px rgba(99, 174, 255, 1);
}

#contact-me-section a:hover {
    transform: translateY(-15px);
    
}

.tooltip {
    top: -55px;
    width: fit-content;
    opacity: 0%;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    
    transition: 0.5s ease;
}

a:hover > span {
    opacity: 100%;
}