@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');

#education-box {
    position: absolute;
    top: 260vh;

    overflow: hidden;
    
    width: 99%;
    height: 630px;
    background-color:rgba(255, 255, 255, 0);

}

.education {
    position: absolute;
    top: 20px;

    color: white;
    
    height: 100%;
    width: 45%;

    border-radius: 20px;

    overflow: hidden;

    background-color: rgba(255, 255, 255, 0);

    font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 40px;

    transition: 0.2s ease;
}

.education:hover {
    transform: translateY(-10px);
}

#ed-bg {
    position: absolute;
    width: 100%;
    height: auto;

    opacity: 25%;
    border-radius: 20px;
    top: 0;
    left: 0;
    z-index: -1;
}

#formal-education-title {
    left: 2.5%;

}
    
#informal-education-title {
    right: 2.5%;

}

#ed-title {
    position: absolute;
    top: -20px;
    left: 0;
    right: 0;
    text-align: center;

    color: white;
    opacity: 100%;

    border-bottom: 1px solid rgba(255, 255, 255, 0.199);

    font-family: Inter, Calibri, sans-serif;
    font-size: 50px;
    font-weight: 200;
    
}

#ed-text {
    position: absolute;
    top: 50px;
    left: 5%;
    right: 5%;

    width: 90%;
    height: 75%;
    text-align: center;

    font-family: Inter, Calibri, sans-serif;
    font-size: 35px;
    font-weight: lighter;

}