:root {
    --personality1: rgba(242, 255, 242, 0.7);
    --personality2: rgba(242, 255, 242, 0.5);

    --pan-background: url();

}

#personality-box {
    position: absolute;
    top: 137vh;
    
    overflow-x: hidden;
    
    width: 99%;
    height: 600px;
    
}

#personality-text {
    position: absolute;
    left: 5%;
    
    display: block;
    width: 70%;
    height: 95%;
    
    border: 4px solid var(--personality1);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    background-size: 100% 9px;
    
    background-image: linear-gradient(
    var(--personality1),
    var(--personality1), 6px,
    var(--personality2) 6px,
    var(--personality2) 18px
    );
    
    animation: pan-overlay 22s infinite linear;
    
}

#screen-image {
    position: absolute;
    top: -4px;
    left: -4px;
    height: 100%;
    width: 100%;
    background-image: var(--pan-background);
    background-size: 300%;
    opacity: 60%;

    border: 4px solid var(--personality1);
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;

    animation: pan-image 15s linear infinite;

}

#personality-paragraph {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;

    text-align: justify;

    transform: translate(-50%, -50%);

    width: 90%;
    height: 45%;
    

    color: white;
    font-family: Inter, Calibri, sans-serif;
    font-size: 23px;

    
}

.grid {
    position: absolute;
    top: 50%;
    right: 5%;
    
    display: grid;
    gap: 20px;

    overflow-x: hidden;

    transform: translateY(-50%);
}

.grid div {
    width: 175px;
    height: 175px;
    
    border-radius: 15px;
    
    font-family: Inter, Calibri, sans-serif;
    font-size: 23px;
    background-color: hsla(0, 0%, 100%, 0.95);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    border: 2px solid black;
    
    transition: 0.5s ease;
}

.grid div:hover{
    background-color: rgba(0, 0, 0, 0.65);
    border: 2px solid rgba(0, 0, 0, 0.15);
    font-weight: bold;
    color: white;
    cursor: pointer;
}

#science {
    color: blue;
}

#philosophy {
    color:rgb(33, 145, 209);
}

#rapport {
    color: rgb(23, 253, 253);

}

#personality-icons {
    font-size: 50px !important;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }
    
    to {
        background-position: 0% -100%;
    }
}

@keyframes pan-image {  
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 300%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 300%;
    }
  }